@model OdeToFood_AspCore.ViewModels.HomePageViewModel
<html>
<head>
    <title>
        
    </title>
</head>
<body>
<h1></h1>
<div>This is the home page</div>
<h3>@Model.CurrentMessage</h3>
    <table>
        @foreach (var restaurant in Model.Restaurants)
        {
            <tr>
                <td>
                    @Html.ActionLink("View","Details",new {id = restaurant.Id})
                </td>
                <td>@restaurant.Name</td>
            </tr>
        }
    </table>
</body>
</html>